/* body */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(/img/bagraund.webp);
 
}
/* body */
/* header */
.judul-utama {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  height: 70px;
  background-color: rgb(248, 240, 248);
  border: 3px solid #700b97;
  align-items: center;
}
/* judul menu */
.judul1 {
  display: flex;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  margin-left: 25px;
}

.judul1 img {
  width: 80px;
  height: 80px;
  mix-blend-mode: multiply
}

.judul1 h1 {
  margin-top: 15px;
}

/* akhir judul menu */

/* navbar */
nav {
  position: relative;
  display: flex;
  border-radius: 20px;
  background-color: white;
  width: 530px;
  height: 50px;
  align-content: center;
}

.menu {
  margin-left: 50px;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

nav span {
  position: absolute;
  top: 0;
  left: 100px;
  width: 115px;
  height: 100%;
  background: linear-gradient(45deg, rgb(62, 19, 114), purple);
  border-radius: 8px;
  transition: 0.5s;
}

nav a:nth-child(1):hover ~ span {
  left: 0;
}

nav a:nth-child(2):hover ~ span {
  width: 115px;
  left: 100px;
}

nav a:nth-child(3):hover ~ span {
  left: 218px;
}

nav a:nth-child(4):hover ~ span {
  left: 305px;
  width: 115px;
}

nav a:nth-child(5):hover ~ span {
  left: 415px;
  width: 115px;
}
/* akhir navbar */
/*toggel*/
.toggel,
.menu2 {
  display: none;
}

input {
  opacity: 0;
}

.togel {
  display: none;
  flex-direction: column;
  height: 28px;
  justify-content: space-between;
}

.togel input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: auto;

  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.togel span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: blueviolet;
  border-radius: 3px;
  right: 5px;
  transition: all 0.3s;

}

.togel span:nth-child(2) {
  transform-origin: 0 0;
}

.togel span:nth-child(4) {
  transform-origin: 0 100%;
}

.togel input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(1px, -5px);
}

.togel input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.togel input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(8px, -5px);
}

/* akhir togel */
/* akhir header */

/* container */
/* conten */
section {
  height:  800px;
  display: grid;
 
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.home-conten {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  margin-left: 50px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 1px 5px;
 
}

.conten {
  padding-top: 40px;
}

span {
  color: black;
}

.home-conten h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-conten h1 {
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.home-conten p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
  text-align: justify;

  padding-left: 20px;
  padding-right: 20px;
}

.text-animesion {
  font-size: 30px;
  font-weight: 600;
  min-width: 280px;
}

.text-animasion span {
  position: relative;
  color: aliceblue;
  font-size: 40px;
}

.text-animasion span::before {
  content: 'web developer';
  color: #700b97;
  animation: words 20s infinite;
}

.text-animasion span::after {
  content: '';
  position: absolute;
  background-color: white;
  width: calc(100% + 8px);
  height: 100%;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

/* animasion*/
@keyframes cursor {
  to {
    border-left: 2px solid black;
  }
}

@keyframes words {
  0%,
  20% {
    content: 'Cyber Security';
  }
  21%,
  40% {
    content: 'Frontend Designer';
  }
  41%,
  60% {
    content: 'Web Designer';
  }
  61%,
  80% {
    content: 'UI / UX Designer';
  }
  81%,
  100% {
    content: 'Web Developer';
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
/* akhir animasion*/

/* sosial media conten */
.sosial-media {
  padding-left: 20px;
  padding-bottom: -40px;
}

.sosial-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: transparent;
  border: 2px solid #700b97;
  font-size: 2.5rem;
  border-radius: 50%;
  color: #700b97;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.sosial-media a:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px #700b97;
  background-color: #700b97;
}
/* akhir sosial media */
/* akhir conten */

/* conten img*/
.foto-saya {
  position: relative;
  scale: 1.2;
  transform: translateY(-2rem);
  animation-name: animasi;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.foto-saya img {
  height: 350px;
  margin-right: 100px;
}

.foto-saya img:hover {
  transform: scale(1.3);
}

.foto-saya svg {
  height: 500px;
  position: absolute;
  left: -2 -0px;
  right: 0;
  bottom: -100px;
  z-index: -10;
}

@keyframes animasi {
  0% {
    scale: 1;
    transform: translateY(2);
  }

  100% {
    scale: 1;
    transform: translateY(-3rem);
  }
}
/*  akhir conten img*/

@media screen and (max-width: 1200px) {
  .home {
    display: block;
    width: 100%;
    overflow-x: hidden;
  }

  .menu {
    display: none;
  }

  /*toggel*/
  .togel {
    display: flex;
  }

  .togel span {
    margin-right: 30px;
  }

  .menu2 {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.186);
    top: -5000px;
    width: 100%;
    left: 0;
    height: 1;
    margin-top: 20px;

  }
  .togel ul li {
    padding: 50px;
    text-align: center;
   
  }

  .judul-utama ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.8;
  }

  .togel ul li:hover {
    transform: scale(1.3) translateY(-5px);
    
  }

  .togel input:checked ~ .menu2 {
    top: -20px;
    transition: 1s;
 
  }

  .judul-utama input {
    position: absolute;
    left: 92%;
    opacity: 0;
    top: 17px;
    margin-right: 0;
    z-index: 111;
  }
  /*akhir toggel*/

  /*conten*/
  .home-conten {
    top: 640px;
    position: absolute;
    width: 80%;
    left: 20px;
  }

  .foto-saya {
    width: 50%;
    left: 50%;
    top: 150px;
    z-index: -4;
  }

  .foto-saya img {
    left: -100px;
    position: absolute;
  }

  .foto-saya span {
    top: 350px;
    left: 260px;
    position: absolute;

  }

  section{
    height: 1150px;
  }
  /*akhir conten*/
}

@media screen and (max-width: 576px) {
 
  /*akhir img*/
  /* toggel*/
  .togel input {
    left: 85%;
  }
  /*akhir toggel*/

  .home-conten{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0;
    margin-left: 3%;
  }

.foto-saya img{
  width: 180px;
  height: 260px;
 top: 50px;
 left: -70px;
}

.foto-saya svg{
  height: 400px;
  right: 60px;
bottom: -50px;
}

.sosial-media a{
 width: 40px;
 height: 40px;
 font-size: 20px;
}
  
}
