/* body */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../img/bagraund.webp);
}
/* body */

/* header */

.judul-utama {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  align-items: center;
  height: 70px;
  background-color: rgb(248, 240, 248);
  border: 5px solid #700b97;
}
/* judul menu */
.judul1 {
  padding-left: 20px;
  color: black;
  font: italic normal bold 50px verdana;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-variant: normal;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
}

.judul1 h1 {
  margin-top: 25px;
}

.judul1 img {
  width: 100px;
  height: 100px;
  mix-blend-mode: multiply;
}
/* akhir judul menu */

/* nav bar */
nav {
  position: relative;
  display: flex;
  width: 530px;
  height: 50px;
  background-color: white;
  align-items: center;
  border-radius: 8px;
}

nav.menu {
  margin-right: 50px;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
  margin-top: 15px;
}

nav span {
  position: absolute;
  top: 0;
  left: 315px;
  width: 95px;
  height: 100%;
  background: linear-gradient(45deg, rgb(62, 19, 114), purple);
  border-radius: 8px;
  transition: 0.5s;
}

nav a:nth-child(1):hover ~ span {
  left: 0;
}

nav a:nth-child(2):hover ~ span {
  width: 115px;
  left: 100px;
}

nav a:nth-child(3):hover ~ span {
  left: 218px;
}

nav a:nth-child(4):hover ~ span {
  left: 305px;
  width: 115px;
}

nav a:nth-child(5):hover ~ span {
  left: 415px;
  width: 115px;
}

/*toggel*/

.toggel,
.menu2 {
  display: none;
}

input {
  opacity: 0;
}

.togel {
  display: none;
  flex-direction: column;
  height: 28px;
  justify-content: space-between;
}

.togel input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: auto;

  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.togel span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: blueviolet;
  border-radius: 3px;
  right: 5px;
  transition: all 0.3s;
}

.togel span:nth-child(2) {
  transform-origin: 0 0;
}

.togel span:nth-child(4) {
  transform-origin: 0 100%;
}

.togel input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(1px, -5px);
}

.togel input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.togel input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(8px, -5px);
}
/* akhir navbar */
/* akhir togel */
/* akhir header */

/* conten2 */
.heading {
  font-size: 8rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.education {
  padding: 100px 15px;

}

.education h2 {
  margin-bottom: 100px;
  font-size: 70px;
  
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #700b97;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);

}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: #700b97;
  box-shadow: 0 0 25px #700b97, 0 0 25px #700b97, 0 0 25px #700b97;
  position: absolute;
  left: calc(49% + 4px);
  border-radius: 50%;
  top: 10px;
}

.timeline-dete {
  font-size: 20px;
  font-weight: 800;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: white;
  border: 3px solid #700b97;
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px #700b97;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #700b97;
}

.timeline-content h3 {
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #700b97;
}
/* akhir conten 2 */

/* versi tablet */
@media screen and (max-width: 1200px) {
  /* conten2 */
  .timeline-dot {
    display: none;
  }

  .timeline-items::before {
    display: none;
  }

  #putih {
    width: 80%;
    position: absolute;
    top: 50px;
    left: 10%;
    padding-right: 0;
    z-index: -11;
  }

  #putih2 {
    width: 80%;
    position: absolute;
    top: 400px;
    right: 10%;
    padding-right: 0;
  }

  #putih3 {
    width: 80%;
    position: absolute;
    top: 750px;
    left: 10%;
    padding-right: 0;
  }

  #putih4 {
    width: 80%;
    position: absolute;
    top: 1100px;
    right: 10%;
    padding-bottom: 100px;
    padding-right: 0;
  }

  .judul-utama {
    width: 100%;
  }

  .education {
    width: 100%;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .education h2 {
    font-size: 50px;
    
  }

  .timeline-item:nth-child(odd) {
    text-align: left;
  }
  /* conten2 */
  .menu {
    display: none;
  }
  /*toggel*/
  .togel {
    display: flex;
  }

  .togel span {
    margin-right: 30px;
  }

  .menu2 {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.249);
    top: -5000px;
    width: 100%;
    left: 0;
    height: 1;
    margin-top: 20px;
    z-index: 44;
  }
  .togel ul li {
    padding: 50px;
    text-align: center;
  }

  .judul-utama ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.8;
  }

  .togel ul li:hover {
    transform: scale(1.3) ;
  }

  .togel input:checked ~ .menu2 {
    top: -20px;
    transition: 1s;
  }

  .judul-utama input {
    position: absolute;
    left: 91%;
    opacity: 0;
    top: 17px;
    margin-right: 0;
    z-index: 111;
  }
  /*akhir toggel*/
}

/* akhir fersi tablet */

@media screen and (max-width: 576px) {
  /* toggel*/
  .togel input {
    left: 87%;
    margin-right: 0;
  }
  /*akhir toggel*/
  #putih {
    margin-left: 1%;
  }
  #putih2 {
    margin-right:1% ;
    margin-top:30%;
  }
  #putih4 {
    margin-top:90%;
    margin-left: 1%;
  }
  #putih3 {
    margin-left: 1%;
    margin-top:60%;
  }

  
}
